@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Handjet";
  font-display: swap;
  src:
    url("../fonts/handjet-400.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Handjet";
  font-display: swap;
  src:
    url('../fonts/handjet-700.woff2') format("woff2");
}
