.side-choice {
  justify-self: center;
}

.side-choice__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.side-choice__radios {
  display: flex;
  gap: 20px;
  padding: 2rem;
}

.side-choice__label {
  padding-left: 30px;
}
